<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add</title>
    <style media="screen">
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #map {
        width: 500px;
        height: 400px;
    }
    </style>
</head>
<body>
    {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-info">
        {{ flash_message }}
    </div>
    {% endfor %}
    <div id="error" class="alert alert-danger text-center" style="display: none">
        Erreur lors de la géolocalisation. Réessayez en actualisant la page ou choisissez votre position manuellement.
    </div>
    <h1>
        add
    </h1>
    {{ form_start(form, {'action': path('nico_app_add'), 'method': 'POST'}) }}
    {{ form_errors(form) }}
    <input type="submit" id="nico_appbundle_circuit_save" class="btn btn-default" value="Valider">
    {{ form_end(form) }}
    <button type="button" id="geoloc" class="btn btn-default" name="geoloc">
        <span class="fa fa-map-marker fa-lg"></span>
        Géolocalisation
    </button>
    <div id="map"></div>
    <script src="{{ asset('js/add.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0kpgqFBKDY2mmNCRDuRGWqzUBPi9PiK4&signed_in=true&libraries=places&callback=initMap"
    async defer></script>
</body>
</html>
