{% extends 'NicoAppBundle:App:layout.html.twig' %}
{% block title %}{{ parent() }} {{ circuit.name }}{% endblock %}
{# Contenu #}
{% block contenu %}
<div class="titre">
    <h1 class="text-center">
        {{ circuit.name }}
    </h1>
</div>
<div class="bloc-fiche">
    <div class="row">
        <div class="col-sm-12 bloc-image">
            <img src="/{{ circuit.image.webPath }}" alt="{{ circuit.image.alt }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                <strong>Adresse : </strong>{{ circuit.address }}
            </p>
            <div id="latitude" hidden>{{ circuit.latitude }}</div>
            <div id="longitude" hidden>{{ circuit.longitude }}</div>
            <div id="map" class="map-fiche"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <strong>Horaires : </strong>{{ circuit.hours }}
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <strong>Licence(s) acceptée(s) : </strong>{{ circuit.licence }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 fiche-description">
            <strong>Description : </strong>
            <p>
                {{ circuit.description }}
            </p>
        </div>
    </div>
    <div class="bloc-contact">
        <p><strong>Contact : </strong></p>
        <div class="row">
            <div class="col-sm-12">
                {{ circuit.owner.firstName }} {{ circuit.owner.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <strong>Téléphone : </strong>0{{ circuit.owner.phoneNumber }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <strong>Email : </strong>{{ circuit.owner.email }}
            </div>
        </div>
    </div>
</div>
{# End Contenu #}
{% endblock %}
{# Javascript #}
{% block javascripts %}
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="{{ asset('js/fiche.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0kpgqFBKDY2mmNCRDuRGWqzUBPi9PiK4&signed_in=true&libraries=places&callback=initMap"
async defer></script>
{# End Javascript #}
{% endblock %}
